<!--Header Nav started-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">My Chotey Projects</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/one">Let's Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/two">Two</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/three">Three</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/four">Four</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/five">Five</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/six">Six</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!---Header nav ended-->